button{
    height: 25px;
    width: 74px;
    margin-left: 150px;
    
    
}

button:hover{
    color: aliceblue;
    background-color: rgb(18, 15, 212);
    border-radius: 3px;
}
div{
    width: 500px;
    height: 370px;
    text-align: justify;
    border: 1px;
border: 2px dotted;
border: medium solid aqua;
border-radius: 4px;
margin-top: 80px;
}

.in{
    margin-left: 100px;
    
}
h3{
    color: greenyellow;
}
h1{
    color: red;
}
